<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="かなキーボード練習">
        <title>かなキーボード練習</title>
        <script src="words.js"></script>
        <script src="sentence.js"></script>

        <script src="./resource/library/vue.min.js"></script>
        <script src="./resource/library/element_ui.min.js"></script>
        <link rel="stylesheet" href="./resource/library/element_ui.css">

        <style>
            .fade-enter-active, .fade-leave-active {
                transition: opacity .35s;
            }

            .fade-enter, .fade-leave-to {
                opacity: 0;
            }

            body {
                overflow-y: hidden;
                margin: 0;
            }

            .large-mode {
                display: flex;
                justify-content: center;
                align-items: center;
                height: auto;
                font-size: 600px;
            }

            .mode {
                margin: 8px;
                display: flex;
                justify-content: flex-end;

                .option {
                    margin-left: 12px;
                    display: flex;
                    align-items: center;

                    .text {
                        margin-right: 5px;
                    }
                }

                span {
                    cursor: pointer;
                }
            }

            .content {
                margin: 150px auto 0;
                display: flex;
                flex-direction: column;
                align-items: center;

                h2 {
                    text-align: center;
                }

                .input_word {
                    height: 24px;border-bottom: 1px solid black;margin-top: -20px;
                }

                .keyboard {
                    display: flex;
                    flex-direction: column;
                    width: 1120px;
                    justify-content: center;
                    border: 2px solid rgb(216, 216, 216);
                    padding: 10px 10px 2px;
                    margin-top: 20px;
                    border-radius: 12px;
                }
                .ruby {
                    opacity: 0.1;
                }
                .words-trans {
                    opacity: 0.1;
                }

                .row {
                    display: flex;
                    margin-bottom: 10px;
                    position: relative;
                }

                .key {
                    text-align: center;
                    border: 2px solid rgb(216, 216, 216);
                    border-radius: 5px;
                    margin-right: 8px;
                    font-size: 20px;
                    min-width: 70px;
                    height: 70px;
                    display: flex;
                    justify-content: center;
                    align-items: end;
                    color: gray;
                    position: relative;
                    box-sizing: border-box;

                    &.highlight {
                        background-color: #409EFF;
                        border-color: #409EFF;
                        color: white;
                    }

                    &.dotted::after {
                        content: ".";
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        font-size: 15px;
                    }

                    &.nu_key {
                        min-width: 107px;
                    }

                    .double {
                        content: "";
                        position: absolute;
                        top: 25%;
                        right: 5%;
                    }

                    span.weight {
                        font-size: 10px;
                        position: absolute;
                        top: 5px;
                        left: 10px;
                        color: green;
                        overflow: hidden;
                        width: 29px;
                        text-align: left;
                        white-space: nowrap;
                    }

                    &.backspace {
                        background: url(./resource/backspace.svg) bottom right no-repeat;
                        background-size: 60% 50%;
                    }
                    &.enter {
                        width: 113px;
                        height: 149px;
                        background: url(./resource/enter.svg) no-repeat;
                        background-size: 100% 100%;
                        border: none;
                        position: absolute;
                        right: -10px;
                    }
                    &.shift {
                        font-family: -apple-system;
                        padding-bottom: 4px;
                    }
                }
            }
        </style>
    </head>

    <body>
        <div id="app">
            <transition name="fade">
                <div v-show="largeMode" class="large-mode">{{ currentKana }}</div>
            </transition>

            <div v-show="!largeMode" class="mode">
                <div class="option" v-if="exerciseTypeIndex === 0">
                    <el-tooltip class="item" effect="dark" content="平仮名 / 片仮名 を切り替える" placement="top">
                        <span class="text">仮名タイプ</span>
                    </el-tooltip>
                    <el-radio-group v-model="kana_mode" @input="switchKanaMode" size="small">
                        <el-radio-button :label="false">平仮名</el-radio-button>
                        <el-radio-button :label="true">片仮名</el-radio-button>
                    </el-radio-group>
                </div>
                <div class="option" v-if="exerciseTypeIndex === 0">
                    <el-tooltip class="item" effect="dark" content="現在練習しているの仮名が強調します" placement="top">
                        <span class="text">初心者モード</span>
                    </el-tooltip>
                    <el-switch v-model="simple_mode"></el-switch>
                </div>
                <div class="option" v-if="exerciseTypeIndex === 0">
                    <el-tooltip class="item" effect="dark" content="一つ仮名で展示しもす" placement="top">
                        <span class="text">巨大モード</span>
                    </el-tooltip>
                    <el-switch v-model="largeMode"></el-switch>
                </div>
                <div class="option" v-if="exerciseTypeIndex === 0">
                    <el-tooltip class="item" effect="dark" content="重み値を示します、重み値が高いほど現れる確率が高くなります" placement="top">
                        <span class="text">重さ値を表示</span>
                    </el-tooltip>
                    <el-switch v-model="weight_show"></el-switch>
                </div>
                <div class="option">
                    <el-tooltip class="item" effect="dark" content="仮名 / 単語 / 文章 モードを切り替える" placement="top">
                        <span class="text">練習タイプ</span>
                    </el-tooltip>
                    <el-select v-model="exerciseTypeIndex" @change="exerciseTypeChange" size="mini" placeholder="モード" style="width: 120px;">
                        <el-option
                            v-for="item in exerciseType"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                        </el-option>
                    </el-select>
                </div>
                <div class="option" v-if="exerciseTypeIndex === 1">
                    <el-select v-model="words_selected_item" @change="wordsItemChange" size="mini" placeholder="単語リスト" style="width: 120px;">
                        <el-option
                            v-for="item in wordsArray"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                        </el-option>
                    </el-select>
                </div>
                <div class="option">
                    <el-select v-model="correctSoundSelected" @change="correctSoundChange" size="mini" placeholder="効果音" style="width: 120px;">
                        <el-option
                            v-for="item in correctSound"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                        </el-option>
                    </el-select>
                </div>
            </div>

            <!--            <el-input style="margin: 0 auto;display: block;-->
            <!--    width: 500px;" type="textarea" @input="handleSentenceInput" @focus="focusin" @blur="focusout" :placeholder="Sentence['Bad Apple!!'].japanese" v-model="textarea"></el-input>-->
            <!--            <div style="white-space: pre-line;-->
            <!--    height: 100px;-->
            <!--    overflow: scroll;-->
            <!--    margin: 0 auto;-->
            <!--    width: 500px;">{{ Sentence["Bad Apple!!"].japanese }}</div>-->

            <div v-show="!largeMode" class="content">
                <h2 v-if="exerciseTypeIndex === 0">現在の{{ kana_mode ? "片仮名" : "平仮名" }}: {{ currentKana }}</h2>
                <el-progress v-if="exerciseTypeIndex === 1" :percentage="((localStorage.getItem(`words_selected_${words_selected_item}_index`) || 0) / KanaWords[localStorage.getItem('words_selected_item')].words.length * 100).toFixed(2)" :text-inside="true" :stroke-width="16" style="width: 500px;"></el-progress>
                <h1 v-if="exerciseTypeIndex === 1">{{words.word}}</h1>
                <p v-if="exerciseTypeIndex === 1" class="input_word">{{ input_word }}</p>
                <div v-if="exerciseTypeIndex === 1" class="ruby">{{words.ruby}}</div>
                <div v-if="exerciseTypeIndex === 1" class="words-trans">{{words.trans}}</div>
                <transition name="fade1">
                    <div class="keyboard">
                        <div class="row">
                            <div v-for="(key, i) in currentKeys[0]" :key="key.character" v-show="i !== 10" :class="['key', { nu_key: i === 0,
                                  highlight: (key.character === currentKana ||
                                  (currentKana === 'を' && key.character === 'わ') ||
                                  (currentKana === 'ヲ' && key.character === 'ワ')) && simple_mode }]">
                                <span>{{ key.character }}</span>
                                <span class="double" v-if="i === 9">{{ currentKeys[0][10].character }}</span>
                                <span class="weight" v-if="weight_show">
                                    {{ (currentKana === "を" && key.character === "わ") ||
                                       (currentKana === 'ヲ' && key.character === 'ワ') ? currentKeys[0][10].weight : key.weight }}
                                </span>
                            </div>
                            <div class="key backspace"></div>
                        </div>
                        <div class="row">
                            <div class="key" style="min-width: 66px;justify-content: start;padding-left: 10px;font-family: -apple-system;font-size: 17px;">
                                <span style="width: 15px;">→</span>
                                <span style="font-size: 14px;position: relative;top: -3px;left: -2px;">|</span>
                            </div>
                            <div v-for="key in currentKeys[1]" :key="key.character" :class="['key', { highlight: key.character === currentKana && simple_mode }]">
                                <span>{{ key.character }}</span>
                                <span class="weight" v-if="weight_show">{{ key.weight }}</span>
                            </div>
                            <div class="key">゛</div>
                            <div class="key">゜</div>
                            <div class="key enter">
                                <img src="./resource/enter_icon.svg" style="margin-left: 65px;margin-bottom: 5px;"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="key" style="min-width: 105px;justify-content: start;padding-left: 10px;font-size: 15px;">control</div>
                            <div v-for="(key, i) in currentKeys[2]" :key="key.character" :class="['key', {highlight: key.character === currentKana && simple_mode, dotted: i === 3 || i === 6}]">
                                <span>{{ key.character }}</span>
                                <span class="weight" v-if="weight_show">{{ key.weight }}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="key shift" style="min-width: 138px;justify-content: start;padding-left: 10px;">⇧</div>
                            <div v-for="key in currentKeys[3]" :key="key.character" :class="['key', { highlight: key.character == currentKana && simple_mode }]">
                                <span>{{ key.character }}</span>
                                <span class="weight" v-if="weight_show">{{ key.weight }}</span>
                            </div>
                            <div class="key shift" style="min-width: 117px;justify-content: end;padding-right: 7px;">⇧</div>
                        </div>
                    </div>
                </transition>
            </div>
        </div>

        <script>
            new Vue({
                el: '#app',
                data() {
                    return {
                        exerciseType: [
                            {
                                label: "仮名",
                                value: 0
                            }, {
                                label: "単語",
                                value: 1
                            }, {
                                label: "文章",
                                value: 2
                            }
                        ],
                        exerciseTypeIndex: parseInt(localStorage.getItem("exerciseTypeIndex")) || 0,
                        wordsArray: [],
                        words_selected_item: "",

                        hiraganaKeys: [
                            [{ character: 'ぬ', weight: 100, initialWeight: 100 }, { character: 'ふ', weight: 10, initialWeight: 10 }, { character: 'あ', weight: 10, initialWeight: 10 }, { character: 'う', weight: 10, initialWeight: 10 }, { character: 'え', weight: 50, initialWeight: 50 }, { character: 'お', weight: 100, initialWeight: 100 }, { character: 'や', weight: 50, initialWeight: 50 }, { character: 'ゆ', weight: 50, initialWeight: 50 }, { character: 'よ', weight: 100, initialWeight: 100 }, { character: 'わ', weight: 100, initialWeight: 100 }, { character: 'を', weight: 100, initialWeight: 100 }, { character: 'ほ', weight: 100, initialWeight: 100 }, { character: 'へ', weight: 200, initialWeight: 200 }, { character: 'ー', weight: 200, initialWeight: 200 }],
                            [{ character: 'た', weight: 10, initialWeight: 10 }, { character: 'て', weight: 10, initialWeight: 10 }, { character: 'い', weight: 10, initialWeight: 10 }, { character: 'す', weight: 10, initialWeight: 10 }, { character: 'か', weight: 50, initialWeight: 50 }, { character: 'ん', weight: 30, initialWeight: 30 }, { character: 'な', weight: 10, initialWeight: 10 }, { character: 'に', weight: 10, initialWeight: 10 }, { character: 'ら', weight: 10, initialWeight: 10 }, { character: 'せ', weight: 10, initialWeight: 10 }],
                            [{ character: 'ち', weight: 10, initialWeight: 10 }, { character: 'と', weight: 10, initialWeight: 10 }, { character: 'し', weight: 10, initialWeight: 10 }, { character: 'は', weight: 10, initialWeight: 10 }, { character: 'き', weight: 50, initialWeight: 50 }, { character: 'く', weight: 50, initialWeight: 50 }, { character: 'ま', weight: 10, initialWeight: 10 }, { character: 'の', weight: 10, initialWeight: 10 }, { character: 'り', weight: 50, initialWeight: 50 }, { character: 'れ', weight: 30, initialWeight: 30 }, { character: 'け', weight: 50, initialWeight: 50 }, { character: 'む', weight: 100, initialWeight: 100 }],
                            [{ character: 'つ', weight: 10, initialWeight: 10 }, { character: 'さ', weight: 50, initialWeight: 50 }, { character: 'そ', weight: 50, initialWeight: 50 }, { character: 'ひ', weight: 10, initialWeight: 10 }, { character: 'こ', weight: 50, initialWeight: 50 }, { character: 'み', weight: 50, initialWeight: 50 }, { character: 'も', weight: 10, initialWeight: 10 }, { character: 'ね', weight: 10, initialWeight: 10 }, { character: 'る', weight: 30, initialWeight: 30 }, { character: 'め', weight: 50, initialWeight: 50 }, { character: 'ろ', weight: 100, initialWeight: 100 }]
                        ],
                        katakanaKeys: [
                            [{ character: 'ヌ', weight: 100, initialWeight: 100 }, { character: 'フ', weight: 10, initialWeight: 10 }, { character: 'ア', weight: 10, initialWeight: 10 }, { character: 'ウ', weight: 10, initialWeight: 10 }, { character: 'エ', weight: 50, initialWeight: 50 }, { character: 'オ', weight: 100, initialWeight: 100 }, { character: 'ヤ', weight: 50, initialWeight: 50 }, { character: 'ユ', weight: 50, initialWeight: 50 }, { character: 'ヨ', weight: 100, initialWeight: 100 }, { character: 'ワ', weight: 100, initialWeight: 100 }, { character: 'ヲ', weight: 100, initialWeight: 100 }, { character: 'ホ', weight: 100, initialWeight: 100 }, { character: 'ヘ', weight: 200, initialWeight: 200 }, { character: 'ー', weight: 200, initialWeight: 200 }],
                            [{ character: 'タ', weight: 10, initialWeight: 10 }, { character: 'テ', weight: 10, initialWeight: 10 }, { character: 'イ', weight: 10, initialWeight: 10 }, { character: 'ス', weight: 10, initialWeight: 10 }, { character: 'カ', weight: 50, initialWeight: 50 }, { character: 'ン', weight: 30, initialWeight: 30 }, { character: 'ナ', weight: 10, initialWeight: 10 }, { character: 'ニ', weight: 10, initialWeight: 10 }, { character: 'ラ', weight: 10, initialWeight: 10 }, { character: 'セ', weight: 10, initialWeight: 10 }],
                            [{ character: 'チ', weight: 10, initialWeight: 10 }, { character: 'ト', weight: 10, initialWeight: 10 }, { character: 'シ', weight: 10, initialWeight: 10 }, { character: 'ハ', weight: 10, initialWeight: 10 }, { character: 'キ', weight: 50, initialWeight: 50 }, { character: 'ク', weight: 50, initialWeight: 50 }, { character: 'マ', weight: 10, initialWeight: 10 }, { character: 'ノ', weight: 10, initialWeight: 10 }, { character: 'リ', weight: 50, initialWeight: 50 }, { character: 'レ', weight: 30, initialWeight: 30 }, { character: 'ケ', weight: 50, initialWeight: 50 }, { character: 'ム', weight: 100, initialWeight: 100 }],
                            [{ character: 'ツ', weight: 10, initialWeight: 10 }, { character: 'サ', weight: 50, initialWeight: 50 }, { character: 'ソ', weight: 50, initialWeight: 50 }, { character: 'ヒ', weight: 10, initialWeight: 10 }, { character: 'コ', weight: 50, initialWeight: 50 }, { character: 'ミ', weight: 50, initialWeight: 50 }, { character: 'モ', weight: 10, initialWeight: 10 }, { character: 'ネ', weight: 10, initialWeight: 10 }, { character: 'ル', weight: 30, initialWeight: 30 }, { character: 'メ', weight: 50, initialWeight: 50 }, { character: 'ロ', weight: 100, initialWeight: 100 }]
                        ],
                        currentKeys: [],
                        currentKana: '',
                        kana_mode: true, // 片仮名モード
                        simple_mode: false, // 初心者モード
                        weight_show: false, // 重さ値を表示
                        largeMode: false, // 巨大モード
                        audioContext: null, // AudioContext
                        correctSound: [
                            {
                                label: "効果音１",
                                value: 0,
                                url: './resource/key_sound_01.wav',
                                buffer: null
                            },
                            {
                                label: "効果音２",
                                value: 1,
                                url: './resource/key_sound_02.wav',
                                buffer: null
                            },
                            {
                                label: "トライトーン",
                                value: 2,
                                url: './resource/トライトーン.wav',
                                buffer: null
                            }
                        ],
                        correctSoundSelected: 0,
                        errorSound: {
                            url: './resource/エラー.wav'
                        },

                        words: {},
                        input_word: "",
                        textarea: ""
                    }
                },
                async created() {
                    this.audioContext = new (window.AudioContext || window.webkitAudioContext)();
                    console.log("audioContext: ", this.audioContext)
                    for (let sound of this.correctSound) {
                        sound.buffer = await this.loadSound(sound.url);
                    }
                    this.errorSound.buffer = await this.loadSound(this.errorSound.url);
                },
                mounted() {
                    this.currentKeys = this.kana_mode ? this.katakanaKeys : this.hiraganaKeys;

                    if (this.exerciseTypeIndex === 0) {
                        this.generateRandomHiragana();
                        window.addEventListener('keydown', this.handleRubyInput)
                    }
                    else if (this.exerciseTypeIndex === 1) window.addEventListener('keydown', this.handleWordInput)

                    console.log("KanaWords: ", KanaWords)
                    Object.keys(KanaWords).forEach(item => {
                        this.wordsArray.push({
                            label: KanaWords[item].title,
                            value: item
                        })
                    })
                    if (!this.words_selected_item) this.words_selected_item = localStorage.getItem("words_selected_item") || this.wordsArray[0].value

                    localStorage.setItem("words_selected_item", this.words_selected_item);
                    localStorage.setItem("words_selected_item_length", JSON.stringify(KanaWords[localStorage.getItem("words_selected_item")].words.length));
                    this.words = KanaWords[localStorage.getItem("words_selected_item")].words[parseInt(localStorage.getItem(`words_selected_${this.words_selected_item}_index`)) || 0]
                    console.log("Sentence: ", Sentence)
                },
                beforeDestroy() {
                    if (this.exerciseTypeIndex === 0) window.removeEventListener('keydown', this.handleRubyInput)
                    else if (this.exerciseTypeIndex === 1) window.removeEventListener('keydown', this.handleWordInput)
                },
                methods: {
                    async loadSound(url) {
                        const res = await fetch(url);
                        const arrayBuffer = await res.arrayBuffer();
                        return await this.audioContext.decodeAudioData(arrayBuffer);
                    },
                    playCorrectSound() {
                        const sound = this.correctSound[this.correctSoundSelected];
                        if (!sound || !sound.buffer) return;

                        const source = this.audioContext.createBufferSource();
                        source.buffer = sound.buffer;
                        source.connect(this.audioContext.destination);
                        source.start(0);
                    },
                    playErrorSound() {
                        if (!this.errorSound.buffer) return;

                        const source = this.audioContext.createBufferSource();
                        source.buffer = this.errorSound.buffer;
                        source.connect(this.audioContext.destination);
                        source.start(0);
                    },
                    exerciseTypeChange(e) {
                        localStorage.setItem("exerciseTypeIndex", e);
                        if (e === 0) {
                            this.generateRandomHiragana();
                            window.removeEventListener('keydown', this.handleWordInput)
                            window.addEventListener('keydown', this.handleRubyInput)
                        } else if (e === 1) {
                            this.currentKana = ''
                            window.removeEventListener('keydown', this.handleRubyInput)
                            window.addEventListener('keydown', this.handleWordInput)
                        }
                    },
                    wordsItemChange() {
                        localStorage.setItem("words_selected_item", this.words_selected_item);
                        localStorage.setItem("words_selected_item_length", JSON.stringify(KanaWords[localStorage.getItem("words_selected_item")].words.length));
                        this.words = KanaWords[localStorage.getItem("words_selected_item")].words[parseInt(localStorage.getItem(`words_selected_${this.words_selected_item}_index`)) || 0]
                    },
                    correctSoundChange() {
                        this.playCorrectSound();
                    },

                    normalizeKana(s) {
                        return s ? s.normalize('NFKC') : '';
                    },
                    isKana(ch) {
                        const cp = ch.codePointAt(0);
                        return (
                            (cp >= 0x3040 && cp <= 0x309F) || // Hiragana
                            (cp >= 0x30A0 && cp <= 0x30FF) || // Katakana（含「ー」）
                            (cp >= 0x31F0 && cp <= 0x31FF)    // Katakana Phonetic Extensions
                        );
                    },
                    handleWordInput(event) {
                        if (event.key === "Escape" && this.largeMode) this.largeMode = false

                        if (event.key === "Backspace") {
                            this.input_word = this.input_word.slice(0, -1);
                            return;
                        }

                        // IMEの組字におけるキーまたは仮想キーをスキップ
                        if (event.isComposing || event.key === 'Process') return;

                        // 今回の入力を一段のテキストとして正規化してください（例：'しゅし゛ん' -> 'しゅじん'）
                        const chunk = this.normalizeKana(event.key);
                        if (!chunk) return;

                        // 制御文字をフィルタリングする
                        if (chunk.length === 1 && chunk.charCodeAt(0) < 0x20) return;

                        // 許容される仮名を逐語的に追加する
                        for (const ch of chunk) {
                            if (this.isKana(ch)) this.input_word += ch;
                        }
                        // 両辺を先に正規化してから比較する
                        const targetWord = this.normalizeKana(this.words.ruby || '');
                        const inputWord = this.normalizeKana(this.input_word);

                        if (inputWord === targetWord) {
                            let words_selected_item = `words_selected_${this.words_selected_item}_index`
                            let words_selected_index = localStorage.getItem(words_selected_item)

                            this.playCorrectSound(); // 正確効果音を再生
                            this.input_word = "";
                            if (words_selected_index >= KanaWords[localStorage.getItem("words_selected_item")].words.length - 1) {
                                this.$message({message: "終わり、お疲れ様でした!", type: "success", duration: 90000});
                                setTimeout(() => {
                                    if (confirm("進度をリセットしますか？")) {
                                        this.words = KanaWords[localStorage.getItem("words_selected_item")].words[0]
                                        localStorage.setItem(`words_selected_${this.words_selected_item}_index`, 0);
                                    }
                                }, 1000)
                                return
                            }
                            words_selected_index++;
                            localStorage.setItem(`words_selected_${this.words_selected_item}_index`, words_selected_index);
                            this.words = KanaWords[localStorage.getItem("words_selected_item")].words[words_selected_index]
                        } else {
                            // this.$message({message: this.input_word, type: "info"})
                        }
                    },
                    handleSentenceInput(event) {
                        // console.log("event.key: ", event.key)
                    },
                    focusin() {
                        // window.removeEventListener('keydown', this.handleInput)
                    },
                    focusout() {
                        // window.addEventListener('keydown', this.handleInput)
                    },
                    switchKanaMode() {
                        // kana_modeに応じて配列の値を切り替える
                        this.currentKeys = this.kana_mode ? this.katakanaKeys : this.hiraganaKeys;
                        this.generateRandomHiragana();
                    },
                    generateRandomHiragana() {
                        const flatKeys = this.currentKeys.flat()

                        // 総重さを計算
                        const totalWeight = flatKeys.reduce((sum, key) => sum + key.weight, 0)
                        // 0から総重みまでの乱数を生成する
                        let randomValue = Math.random() * totalWeight
                        let lastHiragana = this.currentKana; // 最後の平仮名を記録する
                        // 仮名のループ処理と重みに基づく選択
                        for (let key of flatKeys) {
                            randomValue -= key.weight

                            if (randomValue <= 0 && key.character !== lastHiragana) {
                                this.currentKana = key.character
                                return
                            }
                        }
                    },

                    handleRubyInput(event) {
                        if (event.key === "Escape" && this.largeMode) this.largeMode = false

                        // 全ての仮名文字を一つの配列に抽出する
                        const allHiragana = this.hiraganaKeys.flat().map(k => k.character)
                        console.log("event.key", event.key)
                        if (event.key === "Backspace") this.input_word = this.input_word.slice(0, -1)
                        // キー入力が仮名の場合のみ比較する
                        if (allHiragana.includes(event.key)) {
                            let currentKey = this.currentKeys.flat().find(k => k.character === this.currentKana)

                            // kana_mode
                            let index = this.hiraganaKeys.flat().findIndex(k => k.character === event.key)
                            let char_hiraToKana = this.katakanaKeys.flat()[index].character

                            const isCorrectInput = this.kana_mode ? char_hiraToKana === this.currentKana : event.key === this.currentKana
                            if (isCorrectInput) {
                                this.playCorrectSound();

                                // 正しい場合は、仮名の重みを減らす
                                const minWeight = currentKey.initialWeight * 0.5
                                currentKey.weight = Math.max(currentKey.weight * 0.7, minWeight)
                                this.generateRandomHiragana()
                            } else {
                                this.playErrorSound();
                                // 入力が間違っている場合は、現在の仮名の重みを増やします
                                currentKey.weight *= 2 // 間違った後に重みを追加

                                this.$message({
                                    message: '間違いました！',
                                    type: "error",
                                    offset: 100,
                                    duration: 500
                                })
                            }
                        }
                    }
                }
            })
        </script>
    </body>
</html>
